<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/Repositories.PhotoFrameTeamC.csdl|res://*/Repositories.PhotoFrameTeamC.ssdl|res://*/Repositories.PhotoFrameTeamC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800043-01\SQLEXPRESS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhotoFrameTeamCEntities" connectionString="metadata=res://*/Repositories.PhotoFrameTeamC.csdl|res://*/Repositories.PhotoFrameTeamC.ssdl|res://*/Repositories.PhotoFrameTeamC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800043-01\SQLEXPRESS;initial catalog=PhotoFrameTeamC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhotoFrameTeamCEntities1" connectionString="metadata=res://*/Repositories.EF.PhotoFrameTeamC.csdl|res://*/Repositories.EF.PhotoFrameTeamC.ssdl|res://*/Repositories.EF.PhotoFrameTeamC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800038-01\SQLEXPRESS;initial catalog=PhotoFrameTeamC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhotoFrameTeamCEntities2" connectionString="metadata=res://*/Repositories.EF.PhotoFrameTeamC.csdl|res://*/Repositories.EF.PhotoFrameTeamC.ssdl|res://*/Repositories.EF.PhotoFrameTeamC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800038-01\SQLEXPRESS;initial catalog=PhotoFrameTeamC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhotoFrameTeamCEntities3" connectionString="metadata=res://*/Repositories.EF.PhotoFrameTeamC2.csdl|res://*/Repositories.EF.PhotoFrameTeamC2.ssdl|res://*/Repositories.EF.PhotoFrameTeamC2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800046-01\SQLEXPRESS;initial catalog=PhotoFrameTeamC;user id=sa;password=fujifilm2018!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>