<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PhotoFrameTeamCEntities" connectionString="metadata=res://*/Repositories.EF.PhotoFrameTeamC.csdl|res://*/Repositories.EF.PhotoFrameTeamC.ssdl|res://*/Repositories.EF.PhotoFrameTeamC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FFS-1800043-01\SQLEXPRESS;initial catalog=PhotoFrameTeamC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>